.header {
  grid-area: header;
}

.widget {
  grid-area: main;
}
.answer {
  grid-area: right;
  overflow: auto;
  max-height: 50vh;
}
pre {
  background-color: rgb(230, 231, 224);
}
textarea {
  width: 95%;
  height: 400px;
  margin: 4px;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 40%;
  grid-template-areas:
    "header header"
    "main right";
  grid-gap: 5px;
  /* background-color: rgb(228, 228, 228); */
  padding: 10px;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 1);
  /* text-align: center; */
  /* padding: 20px 0; */
  /* font-size: 30px; */
}
/* button {
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px #999;
}

button:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
} */
